body {
    font-family: 'Poppins', sans-serif;
    padding-left: 10%;
}

.header-width {
    width: 50%;
}

.header-part {
    display: flex;
}
.paragraph{
    font-size: 13px;
    font-weight: 600;
    color: #3A3A3A;
}

.header-img img {
    width: 40%;  
}
.button-decoration{
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 41px;
    line-height: 70px;
}